<form [formGroup]="enseigantsForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Prénom</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
  
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
  
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
  
      <div class="form-group">
        <label>Date de naissance</label>
        <input type="date" class="form-control" formControlName="dateOfBirth">
      </div>
  
      <div class="form-group">
        <label>Matiére</label>
        <input type="text" class="form-control" formControlName="Matiére">

      </div>
      <div class="form-group">
        <label>Photo de l'Enseigants</label>
        <input type="file" class="form-control" (change)="oneFileChange($event)">
      </div>
      
      <div *ngIf="previewUrl" class="mt-2">
        <img [src]="previewUrl" alt="Aperçu de la photo" width="150" height="150" style="object-fit: cover; border-radius: 8px;">
      </div>
  
      <button type="submit" class="btn btn-primary">
        {{ isEditMode ? 'Modifier' : 'Ajouter' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="resetForm()">Annuler</button>
    </form>
  
    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  
    <h3 class="mt-4">Liste des Étudiants</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
           <th>id</th> 
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Date de naissance</th>
          <th>Matiere</th>
          <th>image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enseigant of enseigants">
          <td>{{ enseigants.firstName }}</td>
          <td>{{ enseigants.lastName }}</td>
          <td>{{ enseigants.email }}</td>
          <td>{{ enseigants.dateOfBirth }}</td>
          <td>{{ enseigants.Matiere}}</td>
          <td>{{enseigants.image}}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="enseigants(enseigant)">Modifier</button>
            <button class="btn btn-danger btn-sm" (click)="deleteEnseigants(enseigants.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  