<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/images/0c629e70-f2a9-4d8c-8fb9-e595a1d7b-10.png" alt="Company Logo" />
    </div>
    
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <button *ngFor="let item of navItems" 
            mat-list-item 
            [routerLink]="item.path" 
            routerLinkActive="active">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
    </button>
</mat-nav-list>