<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon>Cours</a>
    <a mat-list-item> <mat-icon>edit</mat-icon> student </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> chatbot </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> enseigant </a>
  </mat-nav-list>